[Desktop Entry]
Name=System Editor
Comment=Simple text editor for system and configuration files
Exec=system-editor
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Utility;TextEditor;
StartupNotify=true
